{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <table class="table table-hover">
        <h1>Upcoming Tenders.</h1>
        <a href="{% url 'addTender' %}" class="btn btn-secondary btn-lg " role="button" aria-disabled="true">Create a tender</a>
        <thead>
            <tr>
                <th>Tender Id</th>
                <th>Vendors Name</th>
                <th>Project Name</th>
                <th>Project Type</th>
                <th>Basic Amount Ksh</th>
                <th>Bid Close Date</th>
                <th>Tender Type</th>
                <th>Project File</th>
                <th>Bid</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tenders %}
            <tr class="datarow">
                <td>{{item.Tender_Id}}</td>
                <td>{{item.Vendors_Name}}</td>
                <td>{{item.Project_Name}}</td>
                <td>{{item.Project_Type}}</td>
                <td>{{item.Basic_Amount_Ksh}}</td>
                <td>{{item.Bid_Close_Date}}</td>
                <td>{{item.Tender_Type}}</td>
                <td>{{item.Project_file}}</td>
                <td><a href="{% url 'bid' %}">{{item.Bid}}</td>
                <td><a href="{% url 'doc' %}">Delete</a></td>
                <td>
                    <form action="{% url 'doc'  %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" name="item_id" class="btn btn-outline-info">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>


{% endblock %}