{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <a href="{% url 'addTender' %}" class="btn btn-primary" role="button" aria-disabled="true">Create a tender</a>
    </div>
    <br/>
    <table class="table table-hover">
       <!-- <h1>Upcoming Tenders</h1>-->
        <thead>
            <tr>
                <th>Tender</th>
                <th>VendorsName</th>
                <th>Project</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Due Date</th>
                <th>TenderType</th>
                <th>Download File</th>
                <th>Delete</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tenders %}
            <tr class="datarow">
                <td>{{item.id }}</td>
                <td>{{item.Vendors_Name}}</td>
                <td>{{item.Project_Name}}</td>
                <td>{{item.Project_Type}}</td>
                <td>{{item.Basic_Amount_Ksh}}</td>
                <td>{{item.Bid_Close_Date}}</td>
                <td>{{item.Tender_Type}}</td>
                <td><a href="{% url 'download' item.id %}" class="btn btn-outline-info">{{item.document }}</a></td>
                <td><a href="{% url 'delete' item.id %}" class="btn btn-outline-danger"> Delete</a></td>
                <td><a href="{% url 'details' item.id  %}" class="btn btn-outline-info"> Bid</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}