{% extends 'index.html' %}{% load crispy_forms_tags %}{% block content %}
<div class="container">
    <table>
        <h3>Addition form.</h3>
        {% csrf_token %}
        <tr>
            <form action="" method="post">
                {% csrf_token %} {{form|crispy}}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Add Inventory</button>
                    <button class="btn btn-outline-info" type="reset">Reset</button>
                    <button class="btn btn-outline-info"><a href="{% url 'display1' %}">Upcoming Tenders</button>
                </div>

            </form>
            </td>
        </tr>
    </table>
</div>
{% endblock %}